.field{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &__input{
        height: var(--input-height);
        border-radius: var(--input-border-radius);
        padding-inline: 30px;
        background-color: transparent;
        border: var(--border-accent);
        color: var(--c-light);
        outline-color: var(--c-yellow);

        @include mobile{
            padding-inline: 15px;
            height: 50px;
        }

        &--textarea{
            height: 190px;
            padding-block: 18px;
            resize: none;

            @include mobile{
                padding-block: 9px;
            }
        }

        &:active{
            border: 1px solid white;
        }
    }

}