.header{
    padding-top: 17px;
    padding-bottom: 17px;
    box-shadow: var(--box-shadow);

    &__logo{
        svg{
            @include mobile{
                width: 130px;
                height: 45px;
            }
        }
    }

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;

        @include tablet{
            gap: 30px;
        }
    }

    &__menu{
        display: flex;
        align-items: center;
        gap: 60px;

        @include tablet{
            gap: 40px;
        }

        &-list{
            display: flex;
            align-items: center;
            gap: 60px;

            @include tablet{
                gap: 40px;
            }
        }

        &-link{
            &--is-current{
                color: var(--c-accent);
                border-bottom: 2px solid var(--c-accent);
            }
        }
    }
}