.portfolio{
    
    &__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 60px;
    }

    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 60px;

        @include mobile{
            column-gap: 35px;
        }
    }

    &__btn{
        align-self: center;
    }

}