.shadowed-img{
        height: auto;

        filter: drop-shadow(10px 10px 70px var(--c-accent));

        transition: var(--transition-duration) ease-in-out;

        @include hover{
            filter: drop-shadow(10px 10px 90px var(--c-accent));
        }

        @include desktop{
            width: 50vw;
        }

        @include tablet{
            width: 50vw;
        }

        @include mobile{
            width: 75vw;
            filter: drop-shadow(10px 10px 35px var(--c-accent));
        }
}