body{
    font-family: var(--font-main);
    font-weight: 400;

    @include elastic-text(16, 18);

    line-height: 23px;
    color: var(--c-light);
    background-color: var(--c-bg);

    &::-webkit-scrollbar {
        width: 12px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: var(--c-bg);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: var(--c-accent);
        border-radius: 7px;
    }
}

a,
button,
textarea,
input,
svg * {
    transition-duration: var(--transition-duration);
}

a{
    text-decoration: none;
    color: inherit;

    @include hover{
        color: var(--c-accent);
    }
}

h1 {
    font-weight: 700;
}

h2, 
h3, 
h4 {
    font-weight: 500;
}

h1, .h1{
    @include elastic-text(42, 54);

    @include mobile{
        @include elastic-text(30, 54);
    }

    @include mobile-s{
        @include elastic-text(26, 28);
    }
}

h2, .h2{
    @include elastic-text(44, 46);

    @include mobile{
        @include elastic-text(28, 42);
    }

    @include mobile-s{
        @include elastic-text(24, 26);
    }
}

h3, .h3{
    @include elastic-text(22, 26);
}

h4, .h4{
    @include elastic-text(18, 20);
}

span{
    color: var(--c-accent);
}