@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Merriweather-Black";
  src: url("./assets/fonts/Merriweather-Black.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather-Regular";
  src: url("./assets/fonts/Merriweather-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather-Bold";
  src: url("./assets/fonts/Merriweather-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --c-bg: #191820;
  --c-black: #000000;
  --c-accent: #ae8bf8;
  --c-light: #ececec;
  --c-white: #ffffff;
  --border-accent: 1px solid var(--c-accent);
  --btn-border-radius: 16px;
  --input-border-radius: 10px;
  --card-border-radius: 50px;
  --testimonial-border-radius: 150px;
  --illustration--border-radius-s: 200px;
  --illustration--border-radius-m: 500px;
  --illustration--border-radius-l: 1000px;
  --circle-radius: 50%;
  --box-shadow: -4px -4px 12px hsla(0, 0%, 100%, .05), 4px 4px 12px var(--c-black);
  --box-shadow-transparent: -4px -4px 12px hsla(0, 0%, 100%, 0), 4px 4px 12px transparent;
  --box-shadow-inset: inset -22px -14px 14px 2px hsla(0, 0%, 100%, .015), inset 8px 4px 20px 12px rgba(0, 0, 0, .8);
  --box-shadow-inset-transparent: inset -22px -14px 14px 2px hsla(0, 0%, 100%, 0), inset 8px 4px 20px 12px transparent;
  --font-main: "Merriweather-Regular", sans-serif;
  --container-width: 1280px;
  --container-padding-x: 15px;
  --section-padding-y: 70px;
  --input-height: 70px;
  --btn-height: 61px;
  --transition-duration: .3s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .mobile-hidden {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .mobile-visible {
    display: none !important;
  }
}

body {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: clamp(16px, 1.25vw, 18px);
  line-height: 23px;
  color: var(--c-light);
  background-color: var(--c-bg);
}

a,
button,
textarea,
input,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}
@media (hover: hover) {
  a:hover {
    color: var(--c-accent);
  }
}
@media (hover: none) {
  a:active {
    color: var(--c-accent);
  }
}

h1 {
  font-weight: 700;
}

h2,
h3,
h4 {
  font-weight: 500;
}

h1, .h1 {
  font-size: clamp(42px, 3.75vw, 54px);
}
@media (max-width: 767px) {
  h1, .h1 {
    font-size: clamp(30px, 3.75vw, 54px);
  }
}
@media (max-width: 360px) {
  h1, .h1 {
    font-size: clamp(26px, 1.9444444444vw, 28px);
  }
}

h2, .h2 {
  font-size: clamp(44px, 3.1944444444vw, 46px);
}
@media (max-width: 767px) {
  h2, .h2 {
    font-size: clamp(28px, 2.9166666667vw, 42px);
  }
}
@media (max-width: 360px) {
  h2, .h2 {
    font-size: clamp(24px, 1.8055555556vw, 26px);
  }
}

h3, .h3 {
  font-size: clamp(22px, 1.8055555556vw, 26px);
}

h4, .h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

span {
  color: var(--c-accent);
}

.btn {
  height: var(--btn-height);
  padding: 20px 20px;
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: var(--box-shadow);
  display: inline-flex;
  align-items: center;
  border-radius: var(--btn-border-radius);
}
@media (max-width: 1023px) {
  .btn {
    padding: 15px 15px;
    height: 55px;
  }
}
@media (hover: hover) {
  .btn:hover {
    color: var(--c-light);
    border: var(--border-accent);
  }
}
@media (hover: none) {
  .btn:active {
    color: var(--c-light);
    border: var(--border-accent);
  }
}
.btn--header {
  border: var(--border-accent);
}
@media (hover: hover) {
  .btn--header:hover {
    border: 1px solid transparent;
    scale: 1.1;
  }
}
@media (hover: none) {
  .btn--header:active {
    border: 1px solid transparent;
    scale: 1.1;
  }
}

.burger-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  width: 34px;
  aspect-ratio: 1;
  position: relative;
  border: var(--border-accent);
  border-radius: 4px;
}
.burger-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 1.5px;
  background-color: var(--c-accent);
  border-radius: 2px;
  box-shadow: 0 -8px var(--c-accent), 0 8px var(--c-accent);
}

.cross-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  width: 36px;
  aspect-ratio: 1;
  position: relative;
}
.cross-btn::before, .cross-btn::after {
  content: "";
  position: absolute;
  top: 50;
  left: 7px;
  width: 70%;
  height: 1.5px;
  background-color: var(--c-accent);
  border-radius: 2px;
}
.cross-btn::before {
  rotate: 45deg;
}
.cross-btn::after {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
  background-color: var(--c-bg);
}
.mobile-overlay__close-btn-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}
.mobile-overlay__link {
  color: var(--c-light);
}
@media (hover: hover) {
  .mobile-overlay__link:hover {
    color: var(--c-accent);
  }
}
@media (hover: none) {
  .mobile-overlay__link:active {
    color: var(--c-accent);
  }
}

.header {
  padding-top: 17px;
  padding-bottom: 17px;
  box-shadow: var(--box-shadow);
}
@media (max-width: 767px) {
  .header__logo svg {
    width: 130px;
    height: 45px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
@media (max-width: 1023px) {
  .header__inner {
    gap: 30px;
  }
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media (max-width: 1023px) {
  .header__menu {
    gap: 40px;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media (max-width: 1023px) {
  .header__menu-list {
    gap: 40px;
  }
}
.header__menu-link--is-current {
  color: var(--c-accent);
  border-bottom: 2px solid var(--c-accent);
}

.section {
  padding-block: var(--section-padding-y);
}
@media (max-width: 360px) {
  .section {
    padding-block: 35px;
  }
}

.shadowed-img {
  height: auto;
  filter: drop-shadow(10px 10px 70px var(--c-accent));
  transition: var(--transition-duration) ease-in-out;
}
@media (hover: hover) {
  .shadowed-img:hover {
    filter: drop-shadow(10px 10px 90px var(--c-accent));
  }
}
@media (hover: none) {
  .shadowed-img:active {
    filter: drop-shadow(10px 10px 90px var(--c-accent));
  }
}
@media (max-width: 1280px) {
  .shadowed-img {
    width: 50vw;
  }
}
@media (max-width: 1023px) {
  .shadowed-img {
    width: 50vw;
  }
}
@media (max-width: 767px) {
  .shadowed-img {
    width: 75vw;
    filter: drop-shadow(10px 10px 35px var(--c-accent));
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 1280px) {
  .hero {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 767px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 40px;
  }
}
.hero__body {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  align-items: start;
}
@media (min-width: 1281px) {
  .hero__body {
    max-width: 400px;
  }
}
@media (max-width: 1280px) {
  .hero__body {
    max-width: 350px;
  }
}
@media (max-width: 1023px) {
  .hero__body {
    max-width: 265px;
  }
}
@media (max-width: 767px) {
  .hero__body {
    align-items: center;
    row-gap: 40px;
    display: contents;
  }
}
@media (max-width: 360px) {
  .hero__body {
    max-width: 280px;
  }
}
.hero__title {
  line-height: 80px;
}
@media (max-width: 1023px) {
  .hero__title {
    line-height: 60px;
  }
}
@media (max-width: 767px) {
  .hero__title {
    order: -2;
  }
}
.hero__description {
  max-width: 517px;
}
@media (max-width: 767px) {
  .hero__img {
    order: -1;
  }
}

.play-btn {
  width: 51px;
  aspect-ratio: 1;
  border: var(--border-accent);
  padding: 10px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 1280px) {
  .content {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 767px) {
  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 40px;
  }
}
.content__body {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: start;
}
@media (min-width: 1281px) {
  .content__body {
    max-width: 517px;
  }
}
@media (max-width: 1280px) {
  .content__body {
    max-width: 450px;
  }
}
@media (max-width: 1023px) {
  .content__body {
    max-width: 360px;
  }
}
@media (max-width: 767px) {
  .content__body {
    align-items: center;
    row-gap: 40px;
    order: -1;
  }
}
@media (max-width: 360px) {
  .content__body {
    max-width: 280px;
  }
}
.content__title {
  line-height: 60px;
}
@media (max-width: 767px) {
  .content__title {
    line-height: 40px;
  }
}
.content__description {
  max-width: 517px;
}
.content__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 1023px) {
  .content__actions {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (max-width: 360px) {
  .content__actions {
    flex-direction: column;
    row-gap: 40px;
  }
}
.content__play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.services__body {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.services__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.services__li-group__1, .services__li-group__2 {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.services__item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.services__item__title::before {
  content: "0" counter(custom);
  font-size: 36px;
}/*# sourceMappingURL=styles.css.map */